<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" href="#">Navbar</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        
    </div>

    <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
        <li class="nav-item active">
            <a class="nav-link" href="#"><i class="fa fa-shopping-cart"></i> Shopping Cart <span class="sr-only">(current)</span></a>
        </li>
        <div class="btn-group">
            <button type="button" class="btn btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true"
                aria-expanded="false"><i class="fa fa-user"></i>
                User Management
            </button>
            <div class="dropdown-menu">
                <a class="dropdown-item" href="#">User Account</a>
                <a class="dropdown-item" href="#">Logout</a>
            </div>
        </div>
    </ul>
</nav>